<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 引入公共js和css -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>后台管理</title>
    <link th:href="@{/bootstrap/dist/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" th:href="@{/bootstrap-table/src/bootstrap-table.css}"/>
    <link th:href="@{/chosen/chosen.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/norm.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/radio.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.1.1.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/bootstrap-table/src/bootstrap-table.js}"></script>
    <script th:src="@{/bootstrap-table/src/locale/bootstrap-table-zh-CN.js}"></script>
    <script th:src="@{/chosen/chosen.jquery.min.js}"></script>
    <script th:src="@{/js/norm.js}"></script>

    <!-- 书籍列表js -->
</head>

<body>
<!-- 公共顶部  -->
<div th:replace="/fragment/admin/header :: header"></div>
<div class="container">
    <!--公共侧边栏-->
    <div th:replace="/fragment/admin/sidebar :: sidebar"></div>
    <!-- 内容-->
    <div class="content">
        <div class="content_head">
            <span>书籍信息列表</span>
        </div>
        <!-- 内容-->
        <!-- 书籍信息列表 -->
        <div class="table-overflow form-group informGoods">
            <!-- 根据用户查询 -->
            <div class="form-group">
                <div class="col-sm-3">
                    <select class="form-control" id="target" onchange="refreshTable()">
                    </select>
                </div>
            </div>
            <table class="table media-table" id="table">
                <thead>
                <tr>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

</body>
<script>
    /**
     * 当前页面导航栏颜色变深
     */
    $("#bookList").addClass("activea");


    var usetMap = new Map();

    var isActiveMap = new Map();

    /**
     * 初始化bootstrap table并加载数据
     */
    function initTable() {
        /**
         * bootstrap table样式定义
         */
        var tableOrder = {
            url: "/book/getBooksByTableParams",         //请求后台的URL（*）
            method: "get",                      //请求方式（*）
            toolbar: "#toolbar",                //工具按钮用哪个容器
            striped: true,                      //是否显示行间隔色
            cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: true,                   //是否显示分页（*）
            sidePagination: "server",           //分页方式 client客户端分页 server服务端分页
            sortable: true,                     //是否启用排序
            sortName: "bookStatus",                 //默认排序字段
            sortOrder: "asc",                   //默认排序方式
            pageNumber: 1,                       //初始化加载第一页，默认第一页
            pageSize: 4,                       //每页的记录条数（*）
            pageList: [4, 10, 20, 50],        //可供选择的每页的行数（*）
            strictSearch: true,
            showColumns: true,                  //是否显示所有的列
            showRefresh: true,                  //是否显示刷新按钮
            minimumCountColumns: 2,             //最少允许的列数
            clickToSelect: true,                //是否启用点击选中行
            height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            uniqueId: "id",                     //每一行的唯一标识，一般为主键列
            showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
            cardView: false,                    //是否显示详细视图
            detailView: false,                   //是否显示父子表
            paginationPreText: "上一页",
            paginationNextText: "下一页",
            formatNoMatches: function () {
                return "暂无售卖书籍...";
            },
            queryParams: function (params) {    //查询参数
                var temp = {
                    offset: params.offset,
                    limit: params.limit,
                    sortName: this.sortName,
                    sortOrder: this.sortOrder,
                    target: $("#target").val()
                };
                return temp;
            },
            columns: [
                {
                    title: "序号",
                    align: "center",
                    formatter: function (value, row, index) {
                        return index + 1;
                    },
                },
                {
                    title: "书籍图片",
                    align: "center",
                    formatter: function (value, row, index) {
                        var url = "/" + row.imgUrl;
                        return '<img style="width: 74px;height: 74px" src="' + url + '">';
                    }
                },
                {
                    title: "书籍名称",
                    align: "center",
                    field: "bookName",
                    sortable: true
                },
                {
                    title: "所属用户",
                    align: "center",
                    field: "userId",
                    sortable: true,
                    formatter: function (value, row, index) {
                        //根据书籍分类id从map中获取对应的分类名称
                        return usetMap.get(row.userId);
                    }

                },
                {
                    title: "书籍价格",
                    align: "center",
                    field: "bookPrice",
                    sortable: true
                },
                {
                    title: "书籍存货",
                    align: "center",
                    field: "bookSave",
                    sortable: true
                },
                {
                    title: "添加时间",
                    align: "center",
                    field: "bookCreateTime",
                    sortable: true
                },
                {
                    title: "书籍状态",
                    align: "center",
                    field: "bookStatus",
                    sortable: true,
                    formatter: function (value, row, index) {
                        //账号未被冻结时显示用户对该书籍的操作
                        //否则显示账号被冻结
                        if (isActiveMap.get(row.userId)) {
                            return row.bookStatus == 0 ? "未上架" : (row.bookStatus == 1 ? "已上架" : "已删除");
                        } else {
                            return "用户账号被冻结";
                        }
                    }
                },
                {
                    title: '操作',
                    align: "center",
                    formatter: function (value, row, index) {
                    }
                }
            ]
        };
        $("#table").bootstrapTable(tableOrder);
    }

    /**
     * 按用户查询书籍
     */
    function refreshTable() {
        $("#table").bootstrapTable("refresh");
    }


    /**
     * 得到用户列表
     */
    function getUserList() {
        $.ajax({
            url: "/admin/getUserList",
            async: false,
            success: function (object) {
                //清空下拉框 填充页面书籍下拉框
                $("#target").empty();
                $("#target").append("<option selected='selected' value='" + 0 + "'>按用户姓名查询</option>");
                for (var dataKey in object.data) {
                    $("#target").append("<option  value='" + object.data[dataKey].id + "'>" + object.data[dataKey].userName + "</option>");
                    //将用户id和姓名装入usetMap集合
                    usetMap.set(object.data[dataKey].id, object.data[dataKey].userName);
                    //将用户id和账号状态装入isActiveMap集合
                    isActiveMap.set(object.data[dataKey].id, object.data[dataKey].isValid);
                }
            }
        });
    }

    getUserList();

    initTable();
</script>
</html>