<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 引入公共js和css -->
<head th:replace="/fragment/admin/head :: head">
</head>

<body>
<!-- 公共顶部  -->
<div th:replace="/fragment/admin/header :: header"></div>
<div class="container">
    <!--公共侧边栏-->
    <div th:replace="/fragment/admin/sidebar :: sidebar"></div>
    <!-- 内容-->
    <div class="content">
        <div class="content_head">
            <span>商家请求信息处理</span>
        </div>
        <!--用户申请成为商家处理信息-->
        <div class="table-overflow form-group informGoods">
            <table class="table media-table" id="table">
                <thead>
                <tr>
                </tr>
                </thead>
            </table>
        </div>
        <!-- 内容-->
    </div>
</div>


<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    模态框（Modal）标题
                </h4>
            </div>
            <div class="modal-body">
                在这里添加一些文本
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">
                    提交更改
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
</body>
<!--申请处理维护-->
<script>
    /**
     * 当前页面导航栏颜色变深
     */
    $("#dealApply").addClass("activea");
    var tableOrder = {
        url: "/admin/getAllApplyForBusiness",         //请求后台的URL（*）
        method: "get",                      //请求方式（*）
        toolbar: "#toolbar",                //工具按钮用哪个容器
        striped: true,                      //是否显示行间隔色
        cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
        pagination: true,                   //是否显示分页（*）
        sidePagination: "server",           //分页方式 client客户端分页 server服务端分页
        sortable: false,                     //是否启用排序
        sortOrder: "asc",                   //排序方式
        pageNumber: 1,                       //初始化加载第一页，默认第一页
        pageSize: 10,                       //每页的记录行数（*）
        pageList: [10, 15, 20, 50],        //可供选择的每页的行数（*）
        search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
        strictSearch: true,
        showColumns: true,                  //是否显示所有的列
        showRefresh: true,                  //是否显示刷新按钮
        minimumCountColumns: 2,             //最少允许的列数
        clickToSelect: true,                //是否启用点击选中行
        height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
        uniqueId: "id",                     //每一行的唯一标识，一般为主键列
        showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
        cardView: false,                    //是否显示详细视图
        detailView: false,                   //是否显示父子表
        columns: [
            {
                title: "序号",
                align: "center",
                formatter: function (value, row, index) {
                    return index + 1;
                },
            },
            {
                title: "申请人",
                align: "center",
                field: "userId"
            },
            {
                title: "申请原因",
                align: "center",
                field: "applyReason"
            },
            {
                title: "申请时间",
                align: "center",
                field: "applyTime"
            },
            {
                title: "审批状态",
                align: "center",
                formatter: function (value, row, index) {
                    return row.status == 0 ? "未审批" : "已审批";
                }
            },
            {
                title: '操作',
                align: "center",
                /**
                 * 如果申请未审批 管理员必须去审批 审批通过或不通过都可可以删除该记录 但不能再审批
                 * @param value
                 * @param row
                 * @param index
                 * @returns {string}
                 */
                formatter: function (value, row, index) {
                    var html1 = '<a title="审批" data-toggle="modal"  data-target="#myModal"><span class="glyphicon glyphicon-edit" ></span></a>';
                    var html2 = '<a title="删除" data-toggle="modal"  data-target="#myModal"><span class="glyphicon glyphicon-remove" ></span></a>';
                    return row.status == 0 ? html1 : html2;
                }
            },
        ]

    };
    $("#table").bootstrapTable(tableOrder);
</script>
</html>