<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 引入公共js和css -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>后台管理</title>
    <link th:href="@{/bootstrap/dist/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" th:href="@{/bootstrap-table/src/bootstrap-table.css}"/>
    <link th:href="@{/chosen/chosen.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/norm.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/radio.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.1.1.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/bootstrap-table/src/bootstrap-table.js}"></script>
    <script th:src="@{/bootstrap-table/src/locale/bootstrap-table-zh-CN.js}"></script>
    <script th:src="@{/chosen/chosen.jquery.min.js}"></script>
    <script th:src="@{/js/norm.js}"></script>
    <script th:src="@{/myJs/userList.js}"></script>
</head>

<body>
<!-- 公共顶部  -->
<div th:replace="fragment/admin/header :: header"></div>
<div class="container">
    <!--公共侧边栏-->
    <div th:replace="fragment/admin/sidebar :: sidebar"></div>
    <!-- 内容-->
    <div class="content">
        <div class="content_head">
            <span>用户信息维护</span>
        </div>
        <!--用户信息列表-->
        <div class="table-overflow form-group informGoods">
            <table class="table media-table" id="table">
                <thead>
                <tr>
                </tr>
                </thead>
            </table>
        </div>
        <!-- 内容-->
    </div>
</div>


<!-- 改变用户状态Modal框 -->
<div class="modal fade" id="validModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    账号状态改变
                </h4>
            </div>
            <div class="modal-body">
                <h4 id="isValid"></h4>
            </div>
            <!-- 保存账号状态 -->
            <div style="display: none">
                <input type="hidden" id="valid"/>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="adminUpdateUser()" class="btn btn-primary">
                    提交更改
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
    <!-- 保存用户id -->
    <input type="hidden" id="userId"/>
</div>
<!-- 重置密码Modal框 -->
<div class="modal fade" id="resetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    重置用户密码
                </h4>
            </div>
            <div class="modal-body">
                <h4>请确定是否重置用户密码!</h4>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="adminResetPassword()" class="btn btn-primary">
                    确定重置
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
</body>
<!--申请处理维护-->
<script>
    /**
     * 当前页面导航栏颜色变深
     */
    $("#userList").addClass("activea");

    /**
     * 初始化bootstrap table数据
     */
    initTable();
</script>
</html>