<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<!--个人中心内容导航-->
<div class="nav-left"  th:fragment="sidebar">
    <ul class="pull-left">
        <li class=""><a href="/user/person">个人信息</a></li>
        <li class=""><a href="javascript:void(0)">书籍管理</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                订单信息<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#" onclick="test(1)">售卖的书籍订单</a></li>
                <li><a href="#" onclick="test(2)">购买的书籍订单</a></li>
            </ul>
        </li>
        <li><a href="/user/changePassword">修改密码</a></li>
        <li><a href="javascript:void(0)">关于MMall</a></li>
    </ul>
</div>
</html>