<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxb.oldBook.mapper.ApplyForBusinessMapper">
  <resultMap id="BaseResultMap" type="com.hxb.oldBook.pojo.ApplyForBusiness">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="apply_reason" jdbcType="VARCHAR" property="applyReason" />
    <result column="return_message" jdbcType="VARCHAR" property="returnMessage" />
    <result column="apply_time" jdbcType="TIMESTAMP" property="applyTime" />
    <result column="approval_time" jdbcType="TIMESTAMP" property="approvalTime" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
  </resultMap>

  <select id="queryByUserId" resultMap="BaseResultMap">
    SELECT * FROM apply_for_business WHERE user_id = #{userId}
  </select>

  <select id="queryByPage" resultMap="BaseResultMap">
    SELECT * FROM apply_for_business
    LIMIT #{num},#{pageSize}
  </select>
</mapper>