<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxb.oldBook.mapper.BookVarietyMapper">
  <resultMap id="BaseResultMap" type="com.hxb.oldBook.pojo.BookVariety">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="book_name" jdbcType="VARCHAR" property="bookName" />
    <result column="book_type_create_time" jdbcType="TIMESTAMP" property="bookTypeCreateTime" />
    <result column="book_type_modified_time" jdbcType="TIMESTAMP" property="bookTypeModifiedTime" />
  </resultMap>
</mapper>