<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxb.oldBook.mapper.BookInfoMapper">
    <resultMap id="BaseResultMap" type="com.hxb.oldBook.pojo.BookInfo">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="book_name" jdbcType="VARCHAR" property="bookName"/>
        <result column="book_price" jdbcType="DECIMAL" property="bookPrice"/>
        <result column="book_save" jdbcType="SMALLINT" property="bookSave"/>
        <result column="book_introduction" jdbcType="VARCHAR" property="bookIntroduction"/>
        <result column="img_url" jdbcType="VARCHAR" property="imgUrl"/>
        <result column="book_variety_id" jdbcType="INTEGER" property="bookVarietyId"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="book_status" jdbcType="SMALLINT" property="bookStatus"/>
        <result column="book_create_time" jdbcType="TIMESTAMP" property="bookCreateTime"/>
        <result column="book_modified_time" jdbcType="TIMESTAMP" property="bookModifiedTime"/>
    </resultMap>

    <!-- 查询书籍列表 管理员查询全部 用户查询自己没有删除(假性删除 状态为2)的书籍 -->
    <select id="getBooksByTableParams" resultMap="BaseResultMap">
        SELECT *
        FROM book_info
        <choose>
            <when test="user.roleType == 1 ">
                <!--用户关联书籍-->
                WHERE user_id = #{user.id}
                <!--书籍没有被自己删除-->
                AND book_status != 2
                <if test="tableParams.target != 0">
                    AND book_variety_id = #{tableParams.target}
                </if>
            </when>
            <!--管理员查询操作-->
            <otherwise>
                    <if test="tableParams.target != 0">
                        WHERE user_id = #{tableParams.target}
                    </if>
            </otherwise>
        </choose>
        ORDER BY
        <choose>
            <when test="tableParams.sortName != null and tableParams.sortName != '' and tableParams.sortOrder != null and tableParams.sortOrder != ''">
                ${tableParams.sortName} ${tableParams.sortOrder}
            </when>
            <otherwise>
                book_status DESC
            </otherwise>
        </choose>
        LIMIT #{tableParams.offset},#{tableParams.limit}
    </select>


    <!-- 查询没有删除(管理员查询全部)的书籍数量 即状态不等于2的书籍 -->
    <select id="getCountByUserId" parameterType="com.hxb.oldBook.common.TableParams" resultType="integer">
        SELECT COUNT(*)
        FROM book_info
        <choose>
            <when test="user.roleType == 1">
                <!--用户关联书籍-->
                WHERE user_id = #{user.id}
                <!--书籍没有被自己删除-->
                AND book_status != 2
                <if test="tableParams.target != 0">
                    AND book_variety_id = #{tableParams.target}
                </if>
            </when>
            <otherwise>
                    <if test="tableParams.target != 0">
                        WHERE user_id = #{tableParams.target}
                    </if>
            </otherwise>
        </choose>
    </select>


    <!-- 设置书籍上架与下架和假性删除 -->
    <update id="setBookOut" parameterType="integer">
        UPDATE book_info
        SET book_status = #{bookStatus},book_modified_time = NOW()
        WHERE id = #{id}
    </update>
</mapper>
