<!DOCTYPE html>
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>商品详情</title>
	<!--bootstrap的css-->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<!--自定义css-->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!--解决IE兼容-->
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
</head>
<body>
    <script src="js/publicPage/top.js"></script>
    <div class="container">
        <!--内容区-->
        <script src="js/publicPage/search.js"></script><!--搜索按钮-->
        
        <!--面包屑-->
        <div class="breadcrumb">
        	<li><a href="javascript:void(0)">MMall</a><span class="divider">></span></li>
        	<li class="active">商品详情</li>
        </div>
        
        <div class="Goodetails">
        	<div class="detailLeft">
        		<div class="detailLeft-top"><img src="images/detailsone.jpg" class="mouseImg1"><img src="images/detailstwo.jpg" class="mouseImg2"></div>
        		<div class="detailLeft-bottom"><img src="images/detailsone.jpg" class="detailImg1" onmouseover="MouseOver(1)"><img src="images/detailstwo.jpg" class="detailImg2" onmouseover="MouseOver(2)"></div>
        	</div>
        	<div class="detailRight">
        		<p class="detailRightone">Apple iPhone 8 Plus 64GB 金色 移动联通电信4G手机</p>
        		<p class="detailRighttwo">选择联通/电信/移动优惠购流量大放送！</p>
        		<p class="detailRightthr">价格：<span>￥7000</span></p>
        		<p class="detailRightfor">库存：<span>88</span></p>
        		<p class="detailRightfor">数量：<span><input type="number" value="1"></span></p>
        		<p class="detailRightfor"><a href="myshopcart.html"><button class="btn search-btn">加入购物车</button></a></p>
        	</div>
        	<div class="detailBottom">
        		<p class="detailBottomone"><span class="btn search-btn">商品详情</span></p>
        		<p class="detailBottomtwo"><img src="images/detailsone.jpg"></p>
        	</div>
        </div>
        <div class="lgfooter">#XXXXXX版权所有#</div>
    </div>

</body>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>
	function MouseOver(num){
		num=parseInt(num);
		if(num==1){$(".mouseImg1").show();$(".mouseImg2").hide(); }
		if(num==2){$(".mouseImg1").hide();$(".mouseImg2").show(); }
	}
</script>
</html>