<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>订单支付成功</title>
	<!--bootstrap的css-->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <!--自定义css-->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!--解决IE兼容-->
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	</head>
	
	<body>
		<div class="pwhead"><span>商城（替换）</span></div>
		<div class="orsContainer"><!--orsContainer-->
			<div class="orsContent"><!--orsContent-->
				<h3>您的订单支付成功！</h3>
				<div class="orsSpan"><span	><a href="">继续购物</a></span>
					<span><a href="">查看我的订单</a></span></div>
			</div><!--orsContent-->
		</div><!--orsContainer-->
		<div class="lgfooter">#XXXXXX版权所有#</div>
		
	</body>
</html>
