<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>忘记密码</title>
    <!--bootstrap的css-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <!--自定义css-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <!--解决IE兼容-->
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <script th:src="@{/js/jquery-3.1.1.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
</head>

<body>
<div class="pwhead"><span>二手书籍管理系统</span></div>
<div class="pwContainer"><!--pwContainer-->
    <div class="pwContent"><!--pwContent-->
        <p class="lgContent_p">找回密码</p>
        <div class="lgContent_input"><!--lgContent_input-->
            <form action="/forgetPasswordNext" method="post">
            <div class="input-group">
                <span class="input-group-addon">用&nbsp;户&nbsp;名</span>
                <input type="text" name="userAccount" id="userAccount" class="form-control" placeholder="请输入用户名">
            </div>
            <div class="input-group" style="text-align: left">
                <label id="errorInfo" th:text="${errorInfo}" style="color: red;text-align: left"></label>
                <button type="submit"  class="btn_width">下一步</button>
            </div>
            </form>
            <button type="button" onclick="window.location.href='/toLogin'" class="btn_width">去登陆</button>
        </div><!--lgContent_input-->
    </div><!--lgContent-->
</div><!--pwContainer-->
</body>
</html>
