<!DOCTYPE html>
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>修改密码</title>
	<!--bootstrap的css-->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<!--自定义css-->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!--解决IE兼容-->
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
</head>
<body>
    <script src="js/publicPage/top.js"></script>
    <div class="container">
        <!--内容区-->
        <script src="js/publicPage/search.js"></script><!--搜索按钮-->
        
        <!--面包屑-->
        <div class="breadcrumb">
        	<li><a href="javascript:void(0)">MMall</a><span class="divider">></span></li>
        	<li class="active">修改个人信息</li>
        </div>
         
        <!--内容导航-->
        <div class="nav-left">
        	<ul class="pull-left">
        		<li><a href="person.html">个人中心</a></li>
        		<li><a href="perorder.html">我的订单</a></li>
        		<li class="active"><a href="javascript:void(0)">修改密码</a></li>
        		<li><a href="javascript:void(0)">关于MMall</a> </li>
        	</ul>
        </div>
        
        <div class="Content pull-right">
        	<p class="Content-p">修改密码</p>
        	<div class="ContentDiv">
        		<p><span class="ContentDiv-left">原始密码：</span><input type="password"></p>
        		<p><span class="ContentDiv-left">新&nbsp;密&nbsp;码：</span><input type="password"></p>
        		<p><span class="ContentDiv-left">确认密码：</span><input type="password"></p>
        		<p><button class="btn search-btn">提交修改</button></p>
        	</div>
        </div>
        
        <div class="lgfooter">#XXXXXX版权所有#</div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>