<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>我的订单</title>
	<!--bootstrap的css-->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<!--自定义css-->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!--解决IE兼容-->
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
</head>
<body>
    <script src="js/publicPage/top.js"></script>
    <div class="container">
        <!--内容区-->
        <script src="js/publicPage/search.js"></script><!--搜索按钮-->
        
        <!--面包屑-->
        <div class="breadcrumb">
        	<li><a href="javascript:void(0)">MMall</a><span class="divider">></span></li>
        	<li class="active">我的订单</li>
        </div>
         
        <!--内容导航-->
        <div class="nav-left">
        	<ul class="pull-left">
        		<li><a href="person.html">个人中心</a></li>
        		<li class="active"><a href="perorder.html">我的订单</a></li>
        		<li><a href="percgpwd.html">修改密码</a></li>
        		<li><a href="javascript:void(0)">关于MMall</a></li>
        	</ul>
        </div>
        
        <div class="Content pull-right">
        	<p class="Content-p">我的订单</p>
        	<div class="Goodslist listColor">
        		<div class="list listwa">商品信息</div> 
        		<div class="list listwb">单价</div>
        		<div class="list listwb">数量</div>
        		<div class="list listwb">合计</div>
        	</div>
        	
        	<div>
        		<div class="GoodsDiv">
	        		<div class="newsDiv">
	        			<span><span>订单号:<span>201805160209899</span></span>
	        			<span>2018-03-06 17:20:56</span>
	        			<span>收件人:<span>Hreny</span></span>
	        			<span>订单总价:<span style="color:#c60023;">￥888</span></span></span>
	        			<span><a href="javascript:void(0)">查看详情></a></span>
	        		</div>
	        		<div class="newSpan">
	        			<span><img src="images/order-new.jpg">
	        			<span>Apple iPhone 8 Plus 64GB 金色 移动联通电信4G手机</span>
	        			<span class="newSpan-wid">￥7000</span>
	        			<span class="newSpan-wid">1</span>
	        			<span class="newSpan-wid">￥7000</span>
	        			</span>
	        		</div>
        		</div>
        		
        	</div>
        	
        </div>
        <div class="lgfooter">#XXXXXX版权所有#</div>
    </div>
</body>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</html>