<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>忘记密码</title>
	<!--bootstrap的css-->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <!--自定义css-->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!--解决IE兼容-->
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	</head>
	
	<body>
		<div class="pwhead"><span>商城（替换）</span></div>
		<div class="pwContainer"><!--pwContainer-->
			<div class="pwContent"><!--pwContent-->
				<p class="lgContent_p">找回密码</p>
				<div class="lgContent_input"><!--lgContent_input-->
					<form role="form" class="form-horizontal">
						<span class="pw_span">请输入用户名:</span>
						<div class="input-group">
						  <span class="input-group-addon">用&nbsp;户&nbsp;名</span>
						  <input type="text" class="form-control" placeholder="请输入用户名">
						</div>
						 <div class="input-group">
					          <button type="submit" class="btn_width">下一步</button>
					     </div>
					</form>	
				</div><!--lgContent_input-->
			</div><!--lgContent-->
		</div><!--pwContainer-->
		<div class="lgfooter">#XXXXXX版权所有#</div>
		
	</body>
</html>
