<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>注册</title>
	<!--bootstrap的css-->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <!--自定义css-->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!--解决IE兼容-->
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	</head>
	<body>
		<div class="lghead"><span>商城（替换）</span></div>
		<div class="reContainer"><!--reContainer-->
			<div class="reContent"><!--reContent-->
				<p class="lgContent_p">新用户注册</p>
				<div class="lgContent_input"><!--lgContent_input-->
					<form role="form" class="form-horizontal">
						<div class="input-group">
						  <span class="input-group-addon">用&nbsp;户&nbsp;名</span>
						  <input type="text" class="form-control" placeholder="请输入用户名">
						</div>
						<div class="input-group">
						  <span class="input-group-addon">密&nbsp;&nbsp;&nbsp;&nbsp;码</span>
						  <input type="password" class="form-control" placeholder="请输入密码">
						 </div>
						 <div class="input-group">
						  <span class="input-group-addon">确认密码</span>
						  <input type="password" class="form-control" placeholder="请再次输入密码">
						 </div>
						 <div class="input-group">
						  <span class="input-group-addon">电&nbsp;&nbsp;&nbsp;话</span>
						  <input type="number" maxlength="13" class="form-control" placeholder="请输入电话">
						 </div>
						 <div class="input-group">
						  <span class="input-group-addon">邮&nbsp;&nbsp;&nbsp;箱</span>
						  <input type="text" class="form-control" placeholder="请输入邮箱">
						 </div>
						 <div class="input-group">
						  <span class="input-group-addon">提示问题</span>
						  <input type="text" class="form-control" placeholder="请输入密码提示问题">
						 </div>
						 <div class="input-group">
						  <span class="input-group-addon">提示答案</span>
						  <input type="text" class="form-control" placeholder="请输入密码提示答案">
						 </div>
						 
						 <div class="input-group">
					          <button type="submit" class="btn_width">立即注册</button>
					     </div>
					</form>	
				</div><!--lgContent_input-->
				<div class="lgContent_btom">
					<span><a href="login.html">已有账号，去登陆>></a></span>
				</div>
			</div><!--lgContent-->
		</div><!--lgContainer-->
		<div class="lgfooter">#XXXXXX版权所有#</div>
	</body>
</html>
