<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>用户注册</title>
    <!--bootstrap的css-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <!--自定义css-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <!--解决IE兼容-->
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <script th:src="@{/js/jquery-3.1.1.js}"></script>
    <script th:src="@{/js/jquery.form.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/myJs/register.js}"></script>
</head>
<body>
<div class="lghead"><span>二手书籍管理系统</span></div>
<div class="reContainer"><!--reContainer-->
    <div class="reContent"><!--reContent-->
        <p class="lgContent_p">新用户注册</p>
        <div class="lgContent_input"><!--lgContent_input-->
            <form role="form" class="form-horizontal">
                <div class="input-group">
                    <span class="input-group-addon">用&nbsp;户&nbsp;名</span>
                    <input type="text" id="userAccount" name="userAccount" class="form-control" placeholder="请输入用户名">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">密&nbsp;&nbsp;&nbsp;&nbsp;码</span>
                    <input type="password" id="password" name="password" class="form-control" placeholder="请输入密码">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">确认密码</span>
                    <input type="password" id="rePassword" class="form-control" placeholder="请再次输入密码">
                </div>
            </form>
            <div class="input-group" style="text-align: left">
                <label id="errorInfo" style="color: red;"></label>
                <button type="submit" onclick="register()" class="btn_width">立即注册</button>
            </div>
        </div><!--lgContent_input-->
        <div class="lgContent_btom">
            <span><a href="/toLogin">已有账号，去登陆>></a></span>
        </div>
    </div><!--lgContent-->
</div><!--lgContainer-->
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div>注册成功,去登陆</div>
            </div>
            <div class="modal-footer">
                <button onclick="toLogin(1)" class="btn search-btn btn-sitau">去登陆</button>
                <button onclick="toLogin(0)" class="btn search-btn btn-sitau">取消</button>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div><!-- /.modal -->
</body>
</html>
