<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="test" class="ContentDiv">
    <p><span class="ContentDiv-left">用户名：</span><span>admin</span></p>
    <p><span class="ContentDiv-left">电&nbsp;&nbsp;话：</span><input type="text" value="13423600409"></p>
    <p><span class="ContentDiv-left">邮&nbsp;&nbsp;箱：</span><input type="text" value="admin@163.com"></p>
    <p><span class="ContentDiv-left">问&nbsp;&nbsp;题：</span><input type="text" value="question"></p>
    <p><span class="ContentDiv-left">答&nbsp;&nbsp;案：</span><input type="text" value="answer"></p>
</div>
</html>