<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>后台管理</title>
    <link th:href="@{/bootstrap/dist/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" th:href="@{/bootstrap-table/src/bootstrap-table.css}"/>
    <link th:href="@{/chosen/chosen.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/norm.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.1.1.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/bootstrap-table/src/bootstrap-table.js}"></script>
    <script th:src="@{/bootstrap-table/src/locale/bootstrap-table-zh-CN.js}"></script>
    <script th:src="@{/chosen/chosen.jquery.min.js}"></script>
    <script th:src="@{/js/norm.js}"></script>
</head>
</html>